*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 80px 200px 100px 80px;
    gap: 15px;
    background-color: #22252c;
    padding: 20px;
    border-radius: 4px;
}

.topo{
    background-color: #ffaa64;
    grid-column: 1 / 4;
    grid-row: 1;
}

.lateral{
    background-color: #00a877;
    grid-column: 1;
    grid-row: 2 / 4;
}

.centro{
    background-color: #3ddcb4;
    grid-column: 2 / 4;
    grid-row: 2;
}

.vermelho{
    background-color: #ff6860;
    grid-column: 2;
    grid-row: 3;
}

.laranja-baixo{
    background-color: #ffaa64;
    grid-column: 3;
    grid-row: 3;
}

.marrom{
    background-color: #965c53;
    grid-column: 1 / 4;
    grid-row: 4;
}